.cujo-grid {
	position: relative;
}

.cujo-grid-table {
	table-layout: fixed;
	/* default, necessary width. override this as needed */
	width: 100%;
}

.cujo-gridrow td,
.cujo-gridrow th {
	overflow: hidden;
	text-align: left;
	/* default, necessary width. override this as needed */
	width: 1%;
}

.cujo-grid .cujo-header,
.cujo-grid .cujo-footer {
	overflow: hidden;	
}

.cujo-grid .cujo-body {
	/* cujo-headline-c overrides */
	left: 0;
	right: auto;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* scrollbar compensation */

.cujo-grid-scrollspace {
	position: absolute;
	right: 0;
	top: 0;
	width: -cujo-scroll-width;
}

.cujo-header > .cujo-grid-table,
.cujo-footer > .cujo-grid-table {
	/* coordinates header and footer with scrollbar in body. TODO: rtl */
	padding-right: -cujo-scroll-width;
}

/* footerless rules */

.cujo-grid-nofooter .cujo-footer {
	display: none;
}

.cujo-grid-nofooter .cujo-body {
	bottom: 0;
}
