/*
    cujo headline-n css
    (c) copyright 2010, unscriptable.com
    author: john

	natural-height headline layout

    LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the AFL 3.0
    license at the following url: http://www.opensource.org/licenses/afl-3.0.php.
*/
@import url(_base.css); /* do we really need this? */
@import url(layout.css);

.cujo-headline-n {
}

.cujo-headline-n > .cujo-header,
.cujo-headline-n > .cujo-footer {
	left: 0;
	width: 100%;
}

.cujo-headline-n > .cujo-footer {
	clear: both;
}

.cujo-headline-n > .cujo-trailer{
	float: left;
}

.cujo-headline-n > .cujo-leader {
	float: right;
}
