/*
    cujo headline css
    (c) copyright 2010, unscriptable.com
    author: john

OBSOLETE. DO NOT USE.

    LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the AFL 3.0
    license at the following url: http://www.opensource.org/licenses/afl-3.0.php.
*/
@import url(_base.css);

.cujo-headline BODY {
    overflow-y: hidden;
}

/* overrides .cujo-block when used as a direct child of .cujo-headline */
.cujo-headline .cujo-root > .cujo-block {
    position: absolute;
    left: 0;
    width: 100%;
}

.cujo-headline .cujo-root > .cujo-header /* extends .cujo-headline .cujo-root > .cujo-block */ {
    top: 0;
    /* Override height as needed. Note: must be the same as main margin-top. */
    height: 4em;
}

.cujo-headline .cujo-root > .cujo-footer /* extends .cujo-headline .cujo-root > .cujo-block */ {
    bottom: 0;
    /* Override height as needed. Note: must be the same as main margin-top. */
    height: 1.5em;
}

/* overrides .cujo-box-stretch when used as a direct child of .cujo-headline */
.cujo-headline .cujo-root > .cujo-box-stretch {
    /* Note: must be the same as .cujo-header and .cujo-footer. */
    bottom: 1.5em;
    top: 4em;
}

.cujo-headline .cujo-root > .cujo-leader /* extends .cujo-headline .cujo-root > .cujo-box-stretch */ {
    width: 4em;
    left: 0;
}

.cujo-headline .cujo-root > .cujo-trailer /* extends .cujo-headline .cujo-root > .cujo-box-stretch */ {
    width: 4em;
    left: auto;
    right: 0;
}

.cujo-headline .cujo-root > .cujo-main /* extends .cujo-headline .cujo-root > .cujo-box-stretch */ {
    /* Note: must be the same as .cujo-leader and .cujo-trailer. */
    left: 4em;
    right: 4em;
}
