/*
    cujo layout css
    (c) copyright 2010, unscriptable.com
    author: john

	base layout rules

    LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the AFL 3.0
    license at the following url: http://www.opensource.org/licenses/afl-3.0.php.
*/

.cujo-header {
	display: block;
	margin: 0;
	padding: 0;
	/* Override height as needed. */
	height: 4em;
	position: relative;
}

.cujo-footer {
	display: block;
	margin: 0;
	padding: 0;
	/* Override height as needed. */
	height: 1.5em;
	position: relative;
}

.cujo-cont,
.cujo-main {
	display: block;
	margin: 0;
	padding: 0;
}

.cujo-leader,
.cujo-trailer {
	display: block;
	margin: 0;
	padding: 0;
	/* Override width as needed. */
    width: 4em;
}
