/*
    cujo sidebar-f css
    (c) copyright 2010, unscriptable.com
    author: john

	constrained-height, floating-footer sidebar layout

    LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the AFL 3.0
    license at the following url: http://www.opensource.org/licenses/afl-3.0.php.
*/
@import url(_base.css); /* do we really need this? */
@import url(layout.css);

.cujo-sidebar-f {
	padding-top: 4em;
	padding-bottom: 1.5em;
}

.cujo-sidebar-f > .cujo-header {
	left: 4em;
	position: absolute;
	right: 4em;
	top: 0;
	width: auto;
}

.cujo-sidebar-f > .cujo-footer {
}

.cujo-sidebar-f > .cujo-leader {
	float: left;
}

.cujo-sidebar-f > .cujo-trailer {
	float: right;
}

.cujo-sidebar-f > .cujo-body {
	/*margin-bottom: -1.5em;*/
	max-height: 100%;
	overflow-y: auto;
	width: auto;
}

.cujo-sidebar-f > .cujo-body > .cujo-cont {
	overflow-y: auto;
}

