/*
    cujo ie6layoutTests css
    (c) copyright 2010, unscriptable.com
    author: john

    LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the AFL 3.0
    license at the following url: http://www.opensource.org/licenses/afl-3.0.php.
*/
@import url(_baseCssTest.css);
@import url(../theme/css/headline.css);

.inlineBlock {
    display: inline-block;
}

.cujo-header {
    background-color: #e7e7e7;
}

.cujo-test {
    font-family: 'Helvetica', sans-serif;
}

.cujo-footer {
    background-color: #123456;
}

.cujo-leader {
    background-color: #654321;
}

.cujo-trailer {
    background-color: #654321;
}

.cujo-main {
    background-color: #ddd;
    border: 0.125em dashed blue;
    padding: 4px;
}

.john {
    position: absolute;
    height: 0.6in;
    color: brown;
    background: transparent;
    bottom: 3em;
    border: 0.25em solid red;
}
