/*
    cujo cssTransTests css
    (c) copyright 2010, unscriptable.com
    author: john

    LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the AFL 3.0
    license at the following url: http://www.opensource.org/licenses/afl-3.0.php.
*/
@import url(_baseCssTest.css);

.cujo-headline {
    transition: top 0.75s cujo-back-out 0.25s, left 0.5s ease-out, color 1s ease 1s;
    top: 0;
    position: relative;
    font-size: 200%;
    color: gray;
}

.testMe {
    top: 5em;
    left: 10em;
    color: brown;
}

/*
.cujo-headline {
    transition: font-size 1s ease 0.25s;
    font-size: 200%;
}

.testMe {
    font-size: 800%;
}
*/
