/*
    cujo gridView css
    (c) copyright 2010, unscriptable.com
    author: john

    LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the AFL 3.0
    license at the following url: http://www.opensource.org/licenses/afl-3.0.php.
*/
@import url(grid.css);

.gridView .grid-bulk-ops-bar {
    bottom: 0;
    height: 2.5em;
    position: absolute;
    right: 0;
}

.gridView .bulk-delete-btn {
    background-color: #eee;
    border: 2px solid #000;
    /* border-radius Not implemented in cujo yet! */
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    font-size: 1.25em;
}

/* bulk-delete state */
/*
.gridView .cell-delete {
    background-color: #fcc;
    opacity: 0;
    transition: opacity 0.5s;
}

.bulk-delete .bulk-delete-btn {
    background-color: #fcc;
    border: 2px solid #f00;
}

.bulk-delete .cell-delete {
    opacity: 1;
}
*/
/* another way */

.gridView .cell-delete input {
    position: relative;
    left: 2.25em;
    overflow: hidden;
    transition: left 0.5s cujo-bounce;
}

.bulk-delete .bulk-delete-btn {
    background-color: #f77;
    border: 2px solid #f00;
}

.bulk-delete .cell-delete input {
    left: 0;
}
