<!DOCTYPE HTML>
<html class="cujo-stretch cujo-headline">
<!--
    cujo.headline
    (c) copyright 2010, unscriptable.com
    author: john

    LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the AFL 3.0
    license at the following url: http://www.opensource.org/licenses/afl-3.0.php.
-->
<head>

<title>Cujo cujo.headline Template</title>

<!-- modify these lines to point to your actual dojo and cujo folders -->
<script src="../dojo/dojo.js" type="text/javascript"></script>
<script src="../cujo/cujo.js" type="text/javascript"></script>

<script type="text/javascript">

    // even better than this is to @import() these into your base css file.
    cujo.requireCss('dijit.themes.claro.claro', {cssx: false});
    cujo.requireCss('cujo.common.headline');

</script>

</head>
<body class="cujo-stretch">

    <!-- the root template node -->
    <section class="cujo-root cujo-stretch">

        <!-- header section -->
        <header class="cujo-block cujo-header">[header]</header>

        <!-- main section
            Note: the tag name may be changed to something more appropriate, depending on the
            application. For instance, a content-oriented app may choose to use <article/>.
        -->
        <section class="cujo-box-stretch cujo-main">[main]</section>

        <!-- optional leader section
            Note: the tag name may be changed to something more appropriate, depending on the
            application. For instance, a content-oriented app may choose to use <aside/>, and
            a leader section that contains navigation may use <nav/>.
        -->
        <section class="cujo-box-stretch cujo-leader">[leader]</section>

        <!-- optional trailer section
            Note: the tag name may be changed to something more appropriate, depending on the
            application. For instance, a content-oriented app may choose to use <aside/>.
        -->
        <section class="cujo-box-stretch cujo-trailer">[trailer]</section>

        <!-- optional footer section -->
        <footer class="cujo-block cujo-footer">[footer]</footer>

    </section>

</body>
</html>
