/*
	constants:
		navihint-bar-height: 16px;
*/

.navihint {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background: #fff;
}

.navihint-body {
	padding-bottom: 16px /* navihint-bar-height */;
	padding-top: 16px /* navihint-bar-height */;
}

.navihint-menu {
	position: absolute;
	margin: 0;
	padding: 0 16px 0 0;
	right: 15px; /* -cssx-scrollbar-width */
	background: url(arrows.png) #000 no-repeat top right;
	opacity: 0.5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.navihint-menu:hover {
	opacity: 1.0;
}

.navihint-top {
	top: 0;
}

.navihint-bottom {
	bottom: 0;
	background-position: bottom right;
}

.navihint-proxy {
	display: block;
	margin: 0;
	padding: 2px 0 0 0;
	font-size: 14px;
	height: 16px;
}

.navihint-menu .navihint-proxy {
	float: left;
	margin: 0 4px;
}

.navihint-proxy a {
	color: #fff;
	line-height: 1em;
	text-decoration: none;
}

.navihint-proxy a span,
.navihint-lonely a abbr {
	display: none;
}

.navihint-lonely a span {
	/*display: inline;*/
}
